AWS/step.json
{
    "Comment": "Step function demo using fast food as example",
    "StartAt": "Order",
    "States": {
      "Order": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:353094482358:function:step_fastfood_order",
        "Next": "CheckOrder",
        "Comment": "Run lambda to validate the order"
      },
      "CheckOrder": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.type",
            "NumericEquals": 1,
            "Next": "Kitchen"
          },
          {
            "Variable": "$.type",
            "NumericEquals": 2,
            "Next": "Soda"
          },
          {
            "Variable": "$.type",
            "NumericEquals": 0,
            "Next": "Dessert"
          }
        ],
        "Default": "Error"
      },
      "Error": {
        "Type": "Fail"
      },
      "Kitchen": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:353094482358:function:step_fastfood_kitchen",
        "Next": "HandOut",
        "Comment": "Run lambda to prepare the order in kitchen"
      },
      "Dessert": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:353094482358:function:step_fastfood_dessert",
        "Next": "HandOut",
        "Comment": "Run lambda to prepare the order in desserts"
      },
      "Soda": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:353094482358:function:step_fastfood_soda",
        "Next": "HandOut",
        "Comment": "Run lambda to prepare the order in Soda"
      },
      "HandOut": {
        "Type": "Pass",
        "Result": "Order ready",
        "End": true,
        "Comment": "Hand out order."
      }
    }
  }